In [1]:
# program for variable decleration

c=0
c=5/2

In [2]:
# Typefinding function
type(c)

float

In [3]:
# mathod for decleraing multipule variable with multiple values in single line and finding there type
name,rollno,age='Python',123,23.5
print(type(name),type(rollno),type(age))

<class 'str'> <class 'int'> <class 'float'>

In [5]:
# programe for variable assinment and swaping
a,b=10,20
print(a,b)
a,b=b,a
print(a,b)

10 20
20 10

In [11]:
# operators
# Arithmetic operators: Arithmetic operators are used to perform mathematical operations like addition, subtraction, multiplication and division.
# floor division :-//
# exponention **
2**5

32

In [9]:
# Function used for squaring the value heare pow(x,y) heare x is the value and y ins the power factor
pow(3,5)

243

In [14]:
# Relational operators these are used for comparing the variables these are "and" and "or" 
# new operators  are membership oerators "in" and "not in"

# Identity operators: this is used to compare the objects they are "is"and "is not"(note:dont use in string because it take the id of string)
5 is not 10

True

In [16]:
"abc" is "abc"

True

In [17]:
# conditional control statements:
#these are used to control the follow of program execuation 
# conditional statement: "if" "if else" "elif" "else"

if (5<6):
    print("false")
elif(6<7):
    print("true")
else:
    print("false")

false

In [19]:
# iterative statements are the loops: "while"  "for"
range(2,10,2)# it is a function used to set the range  value starts from "zero" and ends at "vlue-1" the third value is for the increment position

range(2, 10, 2)

In [24]:
for x in range(2,10,2):
    print(x,end=",")# the vlues are assinedto x here the end for the indication of ending parameter

2,4,6,8,

int

In [25]:
# jumping statements: "break(it is used to for termination )" and "continue (it will skip and continue to the next loop)"

In [26]:
# While loop

num=1
while num<6:
    print(num)
    num+=1

1
2
3
4
5

In [28]:
for i in range(1,6):
    print(i)

1
2
3
4
5

In [29]:
for i in 1,2,3:
    print(i)

1
2
3

In [31]:
for i in range(10,6-2,-1):
    print(i)

10
9
8
7
6
5

In [46]:
print(1,2)
print(1,2,sep=",",end="*" ) # it use the "sep"  parameter  the values which are used in the parameter in delemeter
print(3,4)
print(3, sep=";")# here it hase the single element so the sep skips

1 2
1,2*3 4
3

In [39]:
list(range(5,10))# to see the vlues in range

[5, 6, 7, 8, 9]

In [48]:
# input mathod : to take the input from the user

input("enter the value:")# first print the data in string and ask the user for input

enter the value:20

'20'

In [50]:
n=input("enter the value:")
print(n)
type(n)

enter the value:12.3
12.3

str

In [54]:
1+int("2")

3

In [56]:
num=10
print(num)
print(Num)

10

NameError: name 'Nom' is not defined

In [65]:
l=[1,20,3]
print(l)
l[1]
l[2]

[1, 20, 3]

20

In [1]:
data=input()
len(data.split())
#print(len(data))

1 2 3 4

4

In [5]:
# basic mathod for counting the lenth
data=input()
count=0
for char in data.split(" "):
    count+=1
    print(count)

1 2 3 4
1
2
3
4

In [10]:
data=input().split()
len(data)

1 2 3 4  5

5

In [14]:
for i in 1,2,3:
    print(i)
print(i)

1
2
3
3

In [ ]:
# program convert the list into integers and to sumthe values
data=input()
x=data.split(",")
s=0
for x in x:
    s+=int(x)
print(s)

In [1]:
# type conversion function
l=['1','2','3']
r=[]#empty list
for val in l:
    r.append(int(val))
print(r)

[1, 2, 3]

In [5]:
data=input()
values=data.split(",")
#map(mathod_name,list_of_values)
int_values=list(map(int,values))
sum(int_values)

1,2,3

6

In [8]:
a=input()
value=a.split("+")
#s=list(map(int,value))
print(min(s))
print(max(s))

1+2+4+5+2+3+7+1
1
7

In [9]:
a=input()
value=a.split("+")
s=list(map(int,value))
for x in s:
    if

SyntaxError: invalid syntax (<ipython-input-9-0aa6d489ea3d>, line 5)

In [28]:
t=input()
v=list(map(int,t))
for i in int(v):
    ls=input()
    i+=1

3

TypeError: int() argument must be a string, a bytes-like object or a number, not 'list'

In [29]:
t=input()
v=map(int,t)
type(v)

2

map

In [ ]:
a=input()